.ap_custom_color_dropdown{
    background: #8BA2AB;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 15px !important;
    width: 152px;
    height: 3.13rem;
}

.ap_custom_color_dropdown .ui.button{
    background: #8BA2AB;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 0.9375em !important;
    color: #ffffff ;
}

.ap_custom_color_dropdown .ui.floating.dropdown.button.icon{
    background: #8BA2AB;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 0 !important;
    position: relative !important;
    border-left: 1px solid;
    border-top-right-radius: 0.9375em !important;
    border-bottom-right-radius: 0.9375em !important;
}

.ap_custom_color_dropdown .ui.button:active, .ap_custom_color_dropdown .ui.button:hover
{
    color: #fff !important;
}

 .ap_custom_color_dropdown i.dropdown.icon {
    position: absolute !important;
    font-size: 1.6em !important;
    left: -22%;
    right: 0%;
    top: 25%;
    bottom: 0%;
}

.ap_custom_color_dropdown .visible.menu.transition{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(112 136 146 / 20%) !important;
    border-radius: 23px !important;
    width: 190px;
    padding: 0.625em;
    height: auto;
    left: -7.5em !important;
    right: 0;
    top: 2.1em;
    overflow : auto;
}

.ap_custom_dot_dropdown .dropdown.button.icon{
    background: none !important;
    font-size: 20px;
    color: #BED16D;
    padding: 0;
}

.ap_dropdown_color {
    display: inline;
    margin: 0 0.3125em;
}

.ap_dropdown_color .ui.fitted.checkbox label:before{
    box-sizing: border-box;
    border-radius: 0.9375em !important;
    border: none !important;
}

.ap_dropdown_color_red .ui.fitted.checkbox label:before{
    background: rgba(230, 11, 11, 0.897) !important;
}

.ap_dropdown_color_blue .ui.fitted.checkbox label:before{
    background: blue !important;
}

.ap_dropdown_color .ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after{
    color: #fff;
    font-size: 9px;
}

.ap_form_dropdown .field{
    width: 22.5em;
}

.ap_form_dropdown .ui.dropdown
{
    background: #F8F8F8;
    border: 1px solid #8BA2AB;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 3px -1px rgb(112 136 146 / 5%);
    border-radius: 15px !important;
    position: relative;
    color : #104F56 !important;
    width: 360px !important;
    height: 50px !important;
    padding: 13px;
}

.ap_form_dropdown .divider.text{
    text-align: left;
    width: 81%;
}

/* .ap_form_dropdown .visible.menu.transition{
    padding: 2.6em 1em 1em !important;
    width: 24.5em;
    height: 16.8125em;
    overflow: auto;
} */

.ap_form_dropdown{
    font-family: Poppins;
}

.ap_form_dropdown .small{
    width: 12.5em !important;
}

.ap_form_dropdown .medium{
    width: 14.375em !important;
    /* padding: 0.6em 1em !important; */
    height: auto !important;
}

.ap_form_dropdown .large{
    width: 24.5em !important;
}

.ap_form_dropdown label{
    color: #8BA2AB !important;
}

.ap_form_dropdown .angle.up.icon, .ap_form_dropdown .angle.down.icon{
    position: absolute;
    right: 0.625em;
    font-size: 1.375em;
    top: 0.9em;
}



.ap_form_dropdown .visible.menu.transition .header{
    display: inline;
    background: #F0F3F4;
    border-radius: 0.975em;
    padding: 0.625em !important;
    margin: 0.3em 0.5em !important;
    width: 136px !important;
    /* height: 2.25em; */
    text-transform: none;
    cursor: pointer;
    font-size: 0.9375em;
    color:#104F56 !important;
    border-bottom: none;
    box-shadow: none;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-family: 'Poppins';
    text-overflow: ellipsis;
}

.ap_form_dropdown .ui.button.medium div{
    grid-column-gap: 1px;
}

.ap_form_dropdown .visible.menu.transition .header.active{
    background: #104F56;
    border-radius: 0.95em;
    color: #fff !important;
    width:136px !important;
    height:36px;
}

.ap_form_dropdown .ui.active.button:hover {
    background-color: #F8F8F8;
}

/* .ap_form_dropdown .menu>.item:first-child{
    margin-top: 1.5625em !important;
} */
.ap_form_dropdown .ui.dropdown .menu>.item{
    color: #104F56;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.ap_form_dropdown.color .menu.transition.medium{
    display:block;
}

.ap_form_dropdown.customform .menu.transition.visible .item i{
    display: inline;
}


.ap_form_dropdown.color .field.ap_dropdown_color.ap_dropdown_color_red {
    display: inline;
    width: 10px;
}


.ap_form_dropdown.color .menu.transition{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(112 136 146 / 20%) !important;
    border-radius: 23px !important;
    width: 190px;
    padding: 0.625em;
    height: auto;
    right: 0;
    top: 3.1em;
    overflow: auto;
}

.ap_form_dropdown.color .menu.transition .ui.checkbox input:checked~label:after {
    color: #fff;
    font-size: 9px;
}

.ap_form_dropdown.form .ap_header{
    margin-bottom: .6em  !important;
}

.ap_form_dropdown.form .item i.icon{
    display:none;
}
.ap_form_dropdown .dropdown .header.text{
    color: #104F56;
}

.ap_form_dropdown .ui.dropdown .menu>.item:hover, .ap_custom_text_dropdown .menu>.item:hover {
    background: #F8F8F8;
    border-radius: 1.875em;
    font-weight: 600;
}

.ap_header{
    margin-top : 1.5625em;
    margin-bottom : 1.875em !important;
}

.ap_form_dropdown i.check.circle.icon:before {
    content: "\f00c";
    color: #000 !important;
}

.ap_custom_text_dropdown{
    color: #63C6C0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.225em;
    line-height: 1.5625em;
}

.ap_custom_search_dropdown {
    background: #8BA2AB !important;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 15px !important;
    width: 152px;
    height: 3.13rem;
}









.ap_dropdown{
    background: #8BA2AB;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 15px !important;
    width: 152px;
    height: 3.13rem;
}
.ap_dropdown.active:hover,.ap_dropdown.active:hover .ui.button,.ap_dropdown.active:hover .ui.floating.dropdown.button.icon{
    background: #708892;
}

.ap_dropdown.disabled,.ap_dropdown.disabled .ui.button,.ap_dropdown.disabled .ui.floating.dropdown.button.icon{
    pointer-events: none;
    background: #C5D0D5;
}

.ap_dropdown .ui.button {
    background: #8BA2AB;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 0.9375em !important;
    color: #ffffff;
}

.ap_dropdown .ui.floating.dropdown.button.icon {
    background: #8BA2AB;
    box-shadow: 1px 3px 6px rgb(112 136 146 / 16%) !important;
    border-radius: 0 !important;
    position: relative !important;
    border-left: 1px solid;
    border-top-right-radius: 0.9375em !important;
    border-bottom-right-radius: 0.9375em !important;
}

.ap_dropdown i.dropdown.icon {
    position: absolute !important;
    font-size: 1.6em !important;
    left: -22%;
    right: 0%;
    top: 25%;
    bottom: 0%;
}

.ap_dropdown .visible.menu.transition {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(112 136 146 / 20%) !important;
    border-radius: 23px !important;
    width: 190px;
    padding: 0.625em;
    height: auto;
    left: -10.5em !important;
    right: 0;
    top: 2.1em;
    overflow: auto;
}

.ap_icon_dropdown.image .ui.dropdown .item img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.ap_icon_dropdown.image.input .menu.transition.visible {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}

.ap_dropdown .selected.item, .ap_custom_text_dropdown .selected.item {
    background: rgba(0,0,0,.03) !important;
    color: rgba(0,0,0,.95) !important;
    border-radius: 30px;
}

.ap_icon_dropdown .remove_icon i.ellipsis.horizontal.icon, .ap_icon_dropdown .remove_icon .dropdown.icon{
    display:none;
}

.ap_icon_dropdown .remove_icon .visible.menu.transition{
    top:1px;
    left:1px !important;
}

.ap_dropdown i.circle.icon:before, .ap_icon_dropdown i.circle.icon:before, .ap_custom_text_dropdown i.circle.icon:before,
.ap_form_dropdown.customform i.circle.icon:before
{
    background: #EEF784 !important;
    border: 0.125em solid #104F56 !important;
    box-sizing: border-box;
    border-radius: 0.9375em !important;
    color: #EEF784 !important;
    font-size: 12px;
    padding: 0.1875em 0.25em;
}

.ap_dropdown .ui.button:active, .ap_dropdown .ui.button:hover{
    color: #fff !important;
}


.ap_form_dropdown.customform.minutes{
    width:10.375em !important;
}

.ap_form_dropdown.customform.minutes .ui.button.dropdown.icon.medium{
    width:10.375em !important;
}

.ap_form_dropdown.customform.minutes .divider.text{
    font-size: 35px;
}

.ap_dropdown i.check.circle.icon:before, .ap_icon_dropdown i.check.circle.icon:before,
.ap_form_dropdown.customform i.check.circle.icon:before
{
    content: "\f00c"; 
    color:#000 !important;
}

.ap_form_dropdown.customform.scroll .menu.transition.visible{
    height: 160px !important;
}
.ap_dropdown .ui.dropdown .menu>.item:hover {
    border-radius: 0.9375em !important;
}


.ui.buttons.ap_icon_dropdown button {
    display: none;
}

.ap_icon_dropdown .ui.floating.dropdown.button.icon{
    background: #8BA2AB !important;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.ap_icon_dropdown.bg_white .ui.floating.dropdown.button.icon {
    background: #fff !important;
    color: #000000 !important;
    font-size:20px;
    padding: 0.375em;
}

.ap_icon_dropdown.light_green .ui.floating.dropdown.button.icon {
    color: #BED16D !important; 
    background: #fff !important;
    box-shadow: none !important;
    height:30px !important;
}

.ap_icon_dropdown i.dropdown.icon, .ap_icon_dropdown i.ellipsis.horizontal.icon{
    position: absolute !important;
    top: 0.49em;
    left: 0.7125em;
    font-size: 20px !important;
    padding: 0 !important;
}


.ap_icon_dropdown i.ellipsis.horizontal.icon{
    top: 0.775em;
}

.ap_form_dropdown .menu.transition.small,.ap_form_dropdown .menu.transition.medium,
.ap_form_dropdown .menu.transition.large
{
    display:none;
}

.ap_form_dropdown .menu.transition.visible.small .item{
    padding-left:0 !important;
}

.ap_form_dropdown .ui.left.icon.input.search input{
    background: #F8F8F8;
    box-shadow: inset 0px 2px 3px -1px rgb(112 136 146 / 5%);
    border-radius: 15px !important;
    width: 20.125em;
    height: 3.125em;
}

.ap_form_dropdown.custom{
    position:relative;
}

.ap_form_dropdown.custom .menu.transition.visible .select_option{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #BED16D;
    padding-left: 15px;
}

.ap_form_dropdown.custom .menu.transition.visible .item{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #104F56;
    padding-left: 15px !important;
}

.ap_form_dropdown.custom .menu.transition.visible .item:hover{
    border-radius: 30px;
    font-weight: 600;
}

.ap_custom_text_dropdown .menu.transition .item{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #104F56;
}

.ap_custom_text_dropdown .menu.transition .item:hover{
    font-weight: 600;
}


.ap_form_dropdown.custom .divider.text{
    color: #63C6C0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.225em;
    line-height: 1.5625em;
    width: 100%;
    padding-left: 30px;
}

.ap_form_dropdown.custom .plus{
    color: #63C6C0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.225em;
    line-height: 1.5625em;
    position: absolute;
    left: 1px;
}


.ap_icon_dropdown .visible.menu.transition, .ap_custom_dot_dropdown .visible.menu.transition,
.ap_form_dropdown .visible.menu.transition, .ap_custom_text_dropdown .visible.menu.transition,
.ap_notification .visible.menu.transition
{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(112 136 146 / 20%) !important;
    border-radius: 23px !important;
    width: 190px;
    padding: 0.625em;
    height: auto;
    overflow : auto;
}



.ap_custom_text_dropdown.line {
    color: #104F56;
    font-style: normal;
    font-weight: 600;
    font-size: 1.225em;
    line-height: 1.5625em;
    border-bottom: 3px solid #104F56;
}

.ap_custom_text_dropdown.line .divider.text{
    padding:6px ;
}

.ap_icon_dropdown .selected.item, .ap_custom_dot_dropdown .selected.item, .ap_icon_dropdown .item:hover {
    background: rgba(0,0,0,.03) !important;
    color: #104F56;
    background: #F8F8F8;
    border-radius: 30px !important;
}

.ap_custom_dot_dropdown .menu>.item:hover,
.ap_custom_text_dropdown .ui.dropdown .menu>.item:hover{
    border-radius: 0.9375em !important;
}

.ap_dropdown.medium {
    height:50px;
    width:185px;
}

.ap_dropdown.small {
    height: 40px;
    width:163px;
}

.ap_dropdown.medium button{
    width:62%;
}

.ap_dropdown.small button{
    width:65%;
}

.ap_dropdown .ui.floating.dropdown.button.icon span.text, .ap_custom_text_dropdown.line span.text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #104F56;
}

.ap_icon_dropdown .item span.text{
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #104F56 !important;
}
.ap_dropdown .selected.item span.text, .ap_icon_dropdown .selected.item span.text, .ap_icon_dropdown .item span.text:hover{
    font-weight: 600 !important;
}

.ap_custom_text_dropdown span.text{
    font-size: 0.9375em;
    line-height: 1.375em;
    color: #104F56;
}

.ap_icon_dropdown.medium, .ap_icon_dropdown.medium .ui.floating.dropdown.button.icon{
    width: 50px;
    height:50px;
}

.ap_icon_dropdown.small, .ap_icon_dropdown.small .ui.floating.dropdown.button.icon{
    width: 40px;
    height:40px;
}

.ap_icon_dropdown.medium i.dropdown.icon {
    top: 0.79em !important;
    left: 0.9125em !important;
}

.ui.left.icon.input.search input{
    border-radius: 0.9375em !important;
}

.ap_dropdown.calendar {
    width:185px !important;
    float:right;
}

.ap_dropdown.calendar button {
    width: 68%;
}

.ap_dropdown.calendar .visible.menu.transition{
    left: -150px !important;
    width: 185px;
    height: 369px;
    overflow-y: scroll;
}

.ap_dropdown.calendar .visible.menu.transition .header{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #8BA2AB;
    mix-blend-mode: normal;
    opacity: 0.7;
    border: none;
    box-shadow: 0 0 white;
}

.ap_dropdown.calendar .visible.menu.transition .item .text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #104F56;
}

.ap_dropdown.calendar .visible.menu.transition .item.active{
    background: rgba(0,0,0,.05);
    border-radius: 15px;
}

